.refs, .games {
    text-align: left;
    font-weight: bold;
    font-size:larger;
}

.footer {
    text-align: center;
    /* font-weight: bold; */
    color: white;
}
body {}


.game {
    margin: 10px 2px;
    padding: 4px;
    border: 1px solid gray;
    background-color: #AAFF55;
}

.selected {
    border: 3px solid rgb(2, 2, 2);
}

.gameField {
    font-weight:bold;
}

.gameName{
    color: rgb(143, 133, 133);
}