.refs, .games {
    text-align: left;
    font-weight: bold;
    font-size:larger;
}

.footer {
    text-align: center;
    /* font-weight: bold; */
    color: white;
}
body {}

.game {
    margin: 10px 2px;
    padding: 4px;
    border: 1px solid gray;
    background-color: antiquewhite;
}

.selected {
    background-color: burlywood;
}

.gameField {
    font-weight:bold;
}

.gameName{
    color:#999;
}