<!doctype html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  
  <!-- VueJs link -->
  <script src="https://unpkg.com/vue@next"></script>

  <link rel="stylesheet" href="css/style.css" />
  
  <title>Our Referees</title>
  <!-- <link rel="stylesheet" href="css/site.css"> -->
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="./home.html"><img src="img/favicon-32x32.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./home.html">Home</a>
          </li>
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="./referees.html">Our Referees</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" aria-current="page" href="./games.html">Our Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="./reports.html">Reports</a>
    </li>
      </ul>
  </div>
  </div>
</nav>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
 
  <body>
    <div class="body">
  <div class = "d-flex justify-content-center">
  <div id="refApp" class="container row col-lg-12 text-center">
    <!-- <div class="row align-items-start"> -->
      <div class="col col-4">
        <span class="refs">Current Referee Roster</span><br><br>
        <div v-for="s in referees" v-on:click="selectReferee(s)"
          :class="['game', {selected: selectedReferee && s.refID == selectedReferee.refID}]">
          <span class="gameField">{{ s.fName }} {{ s.lName}}</span><br>
          <span class="gameName">Grade: {{ s.grade}}, Skill: {{ s.skill}} </span><br>
          <span class="gameName">Age: {{ s.age}}</span><br>
        </div><br><br>
        <span class="refs">Add New Referee</span><br><br>

        <form class="bg-light" v-on:submit.prevent="postNewReferee">        
          <div class="form-item-format row mb-2">
            <label for="refereefName" class="form-label">First Name</label>
            <input type="text" v-model="refereeForm.fName"
             class="form-control" id="refereefName">
          </div>
          <div class="form-item-format row mb-2">
            <label for="refereelName" class="form-label">Last Name</label>
            <input type="text" v-model="refereeForm.lName" class="form-control" id="refereelName">
          </div>
          <div class="form-item-format row mb-2">
            <label for="refereegrade" class="form-label">Grade</label>
            <input type="text" v-model="refereeForm.grade" class="form-control" id="refereegrade">
          </div>
          <div class="form-item-format row mb-2">
            <label for="refereeskill" class="form-label">Skill</label>
            <input type="number" v-model="refereeForm.skill" class="form-control" id="refereeskill">
          </div>
          <div class="form-item-format row mb-2">
            <label for="refereeage" class="form-label">Age</label>
            <input type="number" v-model="refereeForm.age" class="form-control" id="refereeage">
          </div>
          <button type="submit" class="btn btn-primary">Add Referee</button>
        </form>
      </div>

  


      <div class = "col" v-if="selectedReferee">
        <h3> Assignments for {{selectedReferee.fName}} {{selectedReferee.lName}}</h3><br>
        <table class="table table-hover table-light">
              <tbody>
                <tr>
                    <th scope="col">{{selectedReferee.fName}} {{selectedReferee.lName}}</th>
                    <th scope="col">Grade: {{selectedReferee.grade}}</th>
                    <th scope="col">Skill: {{selectedReferee.skill}}</th>
                    <th scope="col">Age: {{selectedReferee.age}}</th>
                    <th> <button type="button" v-on:click="handleEditReferee(selectedReferee)" class="btn btn-secondary btn-sm">Edit</button>
                      <button type="button" v-on:click="postDeleteReferee(selectedReferee)" class="btn btn-secondary btn-sm">Delete</button> </th>
                </tr>

              </tbody>
          </table>

            <div class = "assign" v-for="a in assign" v-if="edit != true">
                <span class="gameField">{{ a.title }}</span><br>
                <span class="gameName">{{ a.status }}</span><br>
                <label for="status" class="col-sm-2 col-form-label">Status:</label>
                <select id="status" v-model="refForm.status">
                  <option v-bind:value= "a.status" selected></option>
                  <option value = "Accepted"> Accept </option>
                  <option value = "Tenative"> Tenative </option>
                  <option value = "Declined"> Decline </option>
                </select><br>
                <form v-on:submit.prevent="postNewAssign(a)">
                  <button type="submit" class="btn btn-outline-secondary btn-sm">Save</button>
                </form>
            </div> 
     
      <div v-if="edit">
        <form class="bg-light" v-on:submit.prevent="editReferee">
          <div class="form-item-format row mb-2">
            <label for="fName" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
              <input type="text" v-model="editForm.fName" class="form-control" placeholder="fName" id="refereefName">
            </div>
          </div>
          <div class="form-item-format row mb-2">
            <label for="lName" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
              <input type="text" v-model="editForm.lName" class="form-control" placeholder="refereelName" id="lName">
            </div>
          </div>
          <div class="form-item-format row mb-2 mb-2">
            <label for="grade" class="col-sm-2 col-form-label">Grade</label>
            <div class="col-sm-10">
                <input type="text" v-model="editForm.grade" class="form-control" placeholder="grade" id="grade">
            </div>
          </div>
          <div class="form-item-format row mb-2">
            <label for="skill" class="col-sm-2 col-form-label">Skill</label>
            <div class="col-sm-10">
              <input type="number" v-model="editForm.skill" class="form-control" placeholder="refereeskill" id="skill">
            </div>
          </div>
          <div class="form-item-format row mb-2">
            <label for="age" class="col-sm-2 col-form-label">Age</label>
            <div class="col-sm-10">
              <input type="number" v-model="editForm.age" class="form-control" placeholder="refereeage" id="age">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" v-on:click= "handleCancelEdit()" class="btn btn-outline-secondary btn-small">Cancel</button>
          </form><br><br>
        </div>
      </div>

</div>
</div>


<script src="./js/referee.js"></script>
</div>
</body>
<footer>
  <div class="container mt-auto py-3 bg-dark footer">
      <span> Team-34 Inc. </span>
  </div>
</footer>
  
</html>